@model ProjectA.Models.Appointments;
@{
    ViewData["Title"] = "MyADOWebApp";
}
@using (Html.BeginForm("Cancelapp", "Home", FormMethod.Post))
{
<div>
    <table >
            <tr>
                <td>
                    @Html.DisplayName("patient id")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.PatientId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("Visit Date")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.VisitDate)
                </td>
            </tr>
    </table>
    <input type="submit" value="search" />
</div>
}