@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWN.cshtml";
}
<body>
    <h1>Menu</h1>
    <div align="center">
        <table cellspacing="30" cellpadding="10" style="background-color:sandybrown" >
            <tr>
                @using (Html.BeginForm("NewDoctor", "Home", FormMethod.Post))
                {
                    <td><input style="background-image: url('../images/doctor2.jpg');border-radius:25px;height:150px;width:150px" type="submit" value="NEW DOCTOR" /></td>

                }
                @using (Html.BeginForm("NewPatient", "Home", FormMethod.Post))
                {
            <td><input style="background-image: url('../images/patient2.jpg'); border-radius: 25px; height: 150px; width: 150px" type="submit" value="NEW PATIENT" /></td>
                }
            </tr>
            <tr>
                @using (Html.BeginForm("FixAppointment", "Home", FormMethod.Post))
                {
                <td><input style="background-image: url('../images/appointment2.png'); border-radius: 25px; height: 150px; width: 150px;" type="submit" value="FIX APPOINTMENT" /></td>
                }
                @using (Html.BeginForm("CancelAppointment", "Home", FormMethod.Post))
                {
            <td><input style="background-image: url('../images/cancel2.png'); border-radius: 25px; height: 150px; width: 150px;" type="submit" value="CANCLE APPOINTMENT" /></td>
                }
            </tr>
        </table>
    </div>
</body>
@Html.Raw(TempData["msg"])
