@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWN.cshtml";
}
<body>
    <h1>Menu</h1>
    <div>
        <ul>
            <li><a asp-action="C:\Users\DILLI KUMARAN\source\repos\ProjectA\Views\Home\NewPatient.cshtml" target="_self"><h2>new patient</h2></a></li>
            <li><a asp-action="C:\Users\DILLI KUMARAN\source\repos\ProjectA\Views\Home\NewDoctor.cshtml" target="_self"><h2>new doctor</h2></a></li>
            <li><a asp-action="C:\Users\DILLI KUMARAN\source\repos\ProjectA\Views\Home\FixAppointment.cshtml" target="_self"><h2>fix appointment</h2></a></li>
            <li><a asp-action="C:\Users\DILLI KUMARAN\source\repos\ProjectA\Views\Home\CancelAppointment.cshtml" target="_self"><h2>cancel appointment</h2></a></li>
        </ul>
    </div>
</body>
