@model ProjectA.Models.Doctor;
@{
    ViewData["Title"] = "New Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    @using (Html.BeginForm("Adddoc", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    <lable>firstname : </lable>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    <label>lastname : </label>
                </td>
                <td>
                    @Html.TextBoxFor(m=>m.LastName)
                </td>
            </tr>
            <tr rowspan="3">
                <td>
                    sex : 
                </td>
            </tr>
        </table>
    }
</body>
